.jumbotron {
  padding-top: 6rem;
  background-color: #cdb3ff;
}

#projects {
  background-color: #cdb3ff;
}

section {
  padding-top: 5rem;
}

nav,
footer {
  background-color: #7f27ff;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active {
  background-color: #7f27ff !important;
  border: #7f27ff !important;
}

.btn-primary:hover {
  background-color: #511ca1 !important;
  border: #511ca1 !important;
}

/* My Hobbies Section */
.hobby-box {
  background-color: #7f27ff;
  border-radius: 10px;
  height: 500px;
  position: relative;
  transform-style: preserve-3d;
}

.hobby-box::before {
  content: "MY";
  font-size: 6em;
  position: absolute;
  color: #fff;
  font-style: italic;
  font-weight: bold;
  opacity: 0;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 0.5s;
}

.hobby-box:hover::before {
  opacity: 0.2;
}

.hobby-box::after {
  content: "HOBBY";
  font-size: 5em;
  position: absolute;
  color: #fff;
  font-style: italic;
  font-weight: bold;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.hobby-box:hover::after {
  opacity: 0.2;
}

.hobby-name {
  position: absolute;
  width: 100%;
  font-size: 2em;
  top: 0;
  opacity: 0;
  transform: translate3d(0, 0, 50px);
  transition: 0.5s;
}

.hobby-box:hover .hobby-name {
  opacity: 1;
  top: 20px;
}

.hobby-detail-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 100px);
  opacity: 0;
  transition: 0.5s;
}

.hobby-box:hover .hobby-detail-button {
  opacity: 1;
  bottom: 20px;
}

.hobby-img {
  max-width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 80px);
  transition: 0.5s;
}

.hobby-box:hover .hobby-img {
  transform: translate3d(-50%, -50%, 80px) scale(1.2) rotate(5deg);
}
